.maxContainer {
  height: 100vh;
  width: 100vw;
  background-color: beige;
  position: relative;
}

.containerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.CContainer {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: wheat;
  border-radius: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formu {
  display: flex;
  flex-direction: column; 
}

.imageContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
  
}

.imagePreview {
  width: 100px; 
  height: auto;
  margin-left: 10px;  
}

.inpaIma {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.labe {
  margin-bottom: 10px;
  margin-right: 10px;
}

.inpa[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inpaNum {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.greenButton {
  padding: 10px 20px;
  background-color: rgb(41, 124, 41);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.greenButton:hover {
  background-color: #689f38;
}

.greenButton:focus {
  outline: none;
}

.greenButton:hover {
  background-color: #4caf50;
}

.redButton {
  padding: 10px 20px;
  background-color: #941c1c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.redButton:hover {
  background-color: #f33232;
}

.redButton:focus {
  outline: none;
}

.inpa[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-right: 5px;
}

.inpa[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.inpa[type="checkbox"]:checked::before {
  background-color: #4caf50;
}


.CContainer h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}